<div id="container">
<div id="sidebar">
<h2>ember-voca <span>v1.0.0</span></h2>
</div>
 
  
  <div id="main">
<img src="ember-voca-logo.png" class="logo" alt="Logo of ember-voca"/>
<p>Ember.js template helpers based on <a href="https://vocajs.com">voca.js</a></p>
<p><a href="https://github.com/rajasegar/ember-voca">Github</a></p>
<h4>Install:</h4>
<code>
  ember install ember-voca
</code>
{{outlet}}

  <h3>voca-capitalize:</h3>
  <p>Description for voca-capitalize goes here.</p>
  <p>
  <code>
  \{{ voca-capitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-capitalize "hello world"}}
  </code>
  </p>

  <h3>voca-decapitalize:</h3>
  <p>Description for voca-decapitalize goes here.</p>
  <p>
  <code>
  \{{ voca-decapitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-decapitalize "hello world"}}
  </code>
  </p>

  <h3>voca-kebab-case:</h3>
  <p>Description for voca-kebab-case goes here.</p>
  <p>
  <code>
  \{{ voca-kebab-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-kebab-case "hello world"}}
  </code>
  </p>

  <h3>voca-lower-case:</h3>
  <p>Description for voca-lower-case goes here.</p>
  <p>
  <code>
  \{{ voca-lower-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-lower-case "hello world"}}
  </code>
  </p>

  <h3>voca-snake-case:</h3>
  <p>Description for voca-snake-case goes here.</p>
  <p>
  <code>
  \{{ voca-snake-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-snake-case "hello world"}}
  </code>
  </p>

  <h3>voca-swap-case:</h3>
  <p>Description for voca-swap-case goes here.</p>
  <p>
  <code>
  \{{ voca-swap-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-swap-case "hello world"}}
  </code>
  </p>

  <h3>voca-title-case:</h3>
  <p>Description for voca-title-case goes here.</p>
  <p>
  <code>
  \{{ voca-title-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-title-case "hello world"}}
  </code>
  </p>

  <h3>voca-upper-case:</h3>
  <p>Description for voca-upper-case goes here.</p>
  <p>
  <code>
  \{{ voca-upper-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-upper-case "hello world"}}
  </code>
  </p>

  <h3>voca-count:</h3>
  <p>Description for voca-count goes here.</p>
  <p>
  <code>
  \{{ voca-count "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count "hello world"}}
  </code>
  </p>

  <h3>voca-count-graphemes:</h3>
  <p>Description for voca-count-graphemes goes here.</p>
  <p>
  <code>
  \{{ voca-count-graphemes "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-graphemes "hello world"}}
  </code>
  </p>

  <h3>voca-count-substrings:</h3>
  <p>Description for voca-count-substrings goes here.</p>
  <p>
  <code>
  \{{ voca-count-substrings "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-substrings "hello world"}}
  </code>
  </p>

  <h3>voca-count-where:</h3>
  <p>Description for voca-count-where goes here.</p>
  <p>
  <code>
  \{{ voca-count-where "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-where "hello world"}}
  </code>
  </p>

  <h3>voca-count-words:</h3>
  <p>Description for voca-count-words goes here.</p>
  <p>
  <code>
  \{{ voca-count-words "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-count-words "hello world"}}
  </code>
  </p>

  <h3>voca-escape-html:</h3>
  <p>Description for voca-escape-html goes here.</p>
  <p>
  <code>
  \{{ voca-escape-html "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-escape-html "hello world"}}
  </code>
  </p>

  <h3>voca-escape-reg-exp:</h3>
  <p>Description for voca-escape-reg-exp goes here.</p>
  <p>
  <code>
  \{{ voca-escape-reg-exp "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-escape-reg-exp "hello world"}}
  </code>
  </p>

  <h3>voca-unescape-html:</h3>
  <p>Description for voca-unescape-html goes here.</p>
  <p>
  <code>
  \{{ voca-unescape-html "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-unescape-html "hello world"}}
  </code>
  </p>

  <h3>voca-sprintf:</h3>
  <p>Description for voca-sprintf goes here.</p>
  <p>
  <code>
  \{{ voca-sprintf "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-sprintf "hello world"}}
  </code>
  </p>

  <h3>voca-vprintf:</h3>
  <p>Description for voca-vprintf goes here.</p>
  <p>
  <code>
  \{{ voca-vprintf "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-vprintf "hello world"}}
  </code>
  </p>

  <h3>voca-index-of:</h3>
  <p>Description for voca-index-of goes here.</p>
  <p>
  <code>
  \{{ voca-index-of "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-index-of "hello world"}}
  </code>
  </p>

  <h3>voca-last-index-of:</h3>
  <p>Description for voca-last-index-of goes here.</p>
  <p>
  <code>
  \{{ voca-last-index-of "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-last-index-of "hello world"}}
  </code>
  </p>

  <h3>voca-search:</h3>
  <p>Description for voca-search goes here.</p>
  <p>
  <code>
  \{{ voca-search "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-search "hello world"}}
  </code>
  </p>

  <h3>voca-char-at:</h3>
  <p>Description for voca-char-at goes here.</p>
  <p>
  <code>
  \{{ voca-char-at "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-char-at "hello world"}}
  </code>
  </p>

  <h3>voca-code-point-at:</h3>
  <p>Description for voca-code-point-at goes here.</p>
  <p>
  <code>
  \{{ voca-code-point-at "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-code-point-at "hello world"}}
  </code>
  </p>

  <h3>voca-first:</h3>
  <p>Description for voca-first goes here.</p>
  <p>
  <code>
  \{{ voca-first "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-first "hello world"}}
  </code>
  </p>

  <h3>voca-grapheme-at:</h3>
  <p>Description for voca-grapheme-at goes here.</p>
  <p>
  <code>
  \{{ voca-grapheme-at "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-grapheme-at "hello world"}}
  </code>
  </p>

  <h3>voca-last:</h3>
  <p>Description for voca-last goes here.</p>
  <p>
  <code>
  \{{ voca-last "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-last "hello world"}}
  </code>
  </p>

  <h3>voca-prune:</h3>
  <p>Description for voca-prune goes here.</p>
  <p>
  <code>
  \{{ voca-prune "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-prune "hello world"}}
  </code>
  </p>

  <h3>voca-slice:</h3>
  <p>Description for voca-slice goes here.</p>
  <p>
  <code>
  \{{ voca-slice "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-slice "hello world"}}
  </code>
  </p>

  <h3>voca-substr:</h3>
  <p>Description for voca-substr goes here.</p>
  <p>
  <code>
  \{{ voca-substr "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-substr "hello world"}}
  </code>
  </p>

  <h3>voca-substring:</h3>
  <p>Description for voca-substring goes here.</p>
  <p>
  <code>
  \{{ voca-substring "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-substring "hello world"}}
  </code>
  </p>

  <h3>voca-truncate:</h3>
  <p>Description for voca-truncate goes here.</p>
  <p>
  <code>
  \{{ voca-truncate "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-truncate "hello world"}}
  </code>
  </p>

  <h3>voca-insert:</h3>
  <p>Description for voca-insert goes here.</p>
  <p>
  <code>
  \{{ voca-insert "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-insert "hello world"}}
  </code>
  </p>

  <h3>voca-latinise:</h3>
  <p>Description for voca-latinise goes here.</p>
  <p>
  <code>
  \{{ voca-latinise "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-latinise "hello world"}}
  </code>
  </p>

  <h3>voca-pad:</h3>
  <p>Description for voca-pad goes here.</p>
  <p>
  <code>
  \{{ voca-pad "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-pad "hello world"}}
  </code>
  </p>

  <h3>voca-pad-left:</h3>
  <p>Description for voca-pad-left goes here.</p>
  <p>
  <code>
  \{{ voca-pad-left "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-pad-left "hello world"}}
  </code>
  </p>

  <h3>voca-pad-right:</h3>
  <p>Description for voca-pad-right goes here.</p>
  <p>
  <code>
  \{{ voca-pad-right "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-pad-right "hello world"}}
  </code>
  </p>

  <h3>voca-repeat:</h3>
  <p>Description for voca-repeat goes here.</p>
  <p>
  <code>
  \{{ voca-repeat "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-repeat "hello world"}}
  </code>
  </p>

  <h3>voca-replace:</h3>
  <p>Description for voca-replace goes here.</p>
  <p>
  <code>
  \{{ voca-replace "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-replace "hello world"}}
  </code>
  </p>

  <h3>voca-replace-all:</h3>
  <p>Description for voca-replace-all goes here.</p>
  <p>
  <code>
  \{{ voca-replace-all "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-replace-all "hello world"}}
  </code>
  </p>

  <h3>voca-reverse:</h3>
  <p>Description for voca-reverse goes here.</p>
  <p>
  <code>
  \{{ voca-reverse "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-reverse "hello world"}}
  </code>
  </p>

  <h3>voca-reverse-grapheme:</h3>
  <p>Description for voca-reverse-grapheme goes here.</p>
  <p>
  <code>
  \{{ voca-reverse-grapheme "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-reverse-grapheme "hello world"}}
  </code>
  </p>

  <h3>voca-slugify:</h3>
  <p>Description for voca-slugify goes here.</p>
  <p>
  <code>
  \{{ voca-slugify "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-slugify "hello world"}}
  </code>
  </p>

  <h3>voca-splice:</h3>
  <p>Description for voca-splice goes here.</p>
  <p>
  <code>
  \{{ voca-splice "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-splice "hello world"}}
  </code>
  </p>

  <h3>voca-tr:</h3>
  <p>Description for voca-tr goes here.</p>
  <p>
  <code>
  \{{ voca-tr "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-tr "hello world"}}
  </code>
  </p>

  <h3>voca-trim:</h3>
  <p>Description for voca-trim goes here.</p>
  <p>
  <code>
  \{{ voca-trim "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-trim "hello world"}}
  </code>
  </p>

  <h3>voca-trim-left:</h3>
  <p>Description for voca-trim-left goes here.</p>
  <p>
  <code>
  \{{ voca-trim-left "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-trim-left "hello world"}}
  </code>
  </p>

  <h3>voca-trim-right:</h3>
  <p>Description for voca-trim-right goes here.</p>
  <p>
  <code>
  \{{ voca-trim-right "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-trim-right "hello world"}}
  </code>
  </p>

  <h3>voca-word-wrap:</h3>
  <p>Description for voca-word-wrap goes here.</p>
  <p>
  <code>
  \{{ voca-word-wrap "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-word-wrap "hello world"}}
  </code>
  </p>

  <h3>voca-ends-with:</h3>
  <p>Description for voca-ends-with goes here.</p>
  <p>
  <code>
  \{{ voca-ends-with "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-ends-with "hello world"}}
  </code>
  </p>

  <h3>voca-includes:</h3>
  <p>Description for voca-includes goes here.</p>
  <p>
  <code>
  \{{ voca-includes "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-includes "hello world"}}
  </code>
  </p>

  <h3>voca-is-alpha:</h3>
  <p>Description for voca-is-alpha goes here.</p>
  <p>
  <code>
  \{{ voca-is-alpha "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-alpha "hello world"}}
  </code>
  </p>

  <h3>voca-is-alpha-digit:</h3>
  <p>Description for voca-is-alpha-digit goes here.</p>
  <p>
  <code>
  \{{ voca-is-alpha-digit "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-alpha-digit "hello world"}}
  </code>
  </p>

  <h3>voca-is-blank:</h3>
  <p>Description for voca-is-blank goes here.</p>
  <p>
  <code>
  \{{ voca-is-blank "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-blank "hello world"}}
  </code>
  </p>

  <h3>voca-is-digit:</h3>
  <p>Description for voca-is-digit goes here.</p>
  <p>
  <code>
  \{{ voca-is-digit "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-digit "hello world"}}
  </code>
  </p>

  <h3>voca-is-empty:</h3>
  <p>Description for voca-is-empty goes here.</p>
  <p>
  <code>
  \{{ voca-is-empty "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-empty "hello world"}}
  </code>
  </p>

  <h3>voca-is-lower-case:</h3>
  <p>Description for voca-is-lower-case goes here.</p>
  <p>
  <code>
  \{{ voca-is-lower-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-lower-case "hello world"}}
  </code>
  </p>

  <h3>voca-is-numeric:</h3>
  <p>Description for voca-is-numeric goes here.</p>
  <p>
  <code>
  \{{ voca-is-numeric "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-numeric "hello world"}}
  </code>
  </p>

  <h3>voca-is-string:</h3>
  <p>Description for voca-is-string goes here.</p>
  <p>
  <code>
  \{{ voca-is-string "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-string "hello world"}}
  </code>
  </p>

  <h3>voca-is-upper-case:</h3>
  <p>Description for voca-is-upper-case goes here.</p>
  <p>
  <code>
  \{{ voca-is-upper-case "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-is-upper-case "hello world"}}
  </code>
  </p>

  <h3>voca-matches:</h3>
  <p>Description for voca-matches goes here.</p>
  <p>
  <code>
  \{{ voca-matches "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-matches "hello world"}}
  </code>
  </p>

  <h3>voca-starts-with:</h3>
  <p>Description for voca-starts-with goes here.</p>
  <p>
  <code>
  \{{ voca-starts-with "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-starts-with "hello world"}}
  </code>
  </p>

  <h3>voca-chars:</h3>
  <p>Description for voca-chars goes here.</p>
  <p>
  <code>
  \{{ voca-chars "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-chars "hello world"}}
  </code>
  </p>

  <h3>voca-code-points:</h3>
  <p>Description for voca-code-points goes here.</p>
  <p>
  <code>
  \{{ voca-code-points "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-code-points "hello world"}}
  </code>
  </p>

  <h3>voca-graphemes:</h3>
  <p>Description for voca-graphemes goes here.</p>
  <p>
  <code>
  \{{ voca-graphemes "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-graphemes "hello world"}}
  </code>
  </p>

  <h3>voca-split:</h3>
  <p>Description for voca-split goes here.</p>
  <p>
  <code>
  \{{ voca-split "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-split "hello world"}}
  </code>
  </p>

  <h3>voca-words:</h3>
  <p>Description for voca-words goes here.</p>
  <p>
  <code>
  \{{ voca-words "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-words "hello world"}}
  </code>
  </p>

  <h3>voca-strip-bom:</h3>
  <p>Description for voca-strip-bom goes here.</p>
  <p>
  <code>
  \{{ voca-strip-bom "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-strip-bom "hello world"}}
  </code>
  </p>

  <h3>voca-strip-tags:</h3>
  <p>Description for voca-strip-tags goes here.</p>
  <p>
  <code>
  \{{ voca-strip-tags "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-strip-tags "hello world"}}
  </code>
  </p>

  <h3>voca-no-conflict:</h3>
  <p>Description for voca-no-conflict goes here.</p>
  <p>
  <code>
  \{{ voca-no-conflict "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-no-conflict "hello world"}}
  </code>
  </p>
  </div>
</div>

