<h3>voca-camel-case:</h3>
<p>Converts the argument to camel case.</p>
<p>
<pre class="language-handlebars">
  <code class="language-handlebars">
  \{{ voca-camel-case "bird flight"}}
  </code>
</pre>

</p>
<p>
<code>
  // => {{ voca-camel-case "bird flight"}}
</code>
</p>

<p>
<pre class="language-handlebars">
  <code class="language-handlebars">
  \{{ voca-camel-case "BirdFlight"}}
  </code>
</pre>

</p>
<p>
<code>
  // => {{ voca-camel-case "BirdFlight"}}
</code>
</p>


<p>
<pre class="language-handlebars">
  <code class="language-handlebars">
  \{{ voca-camel-case "-BIRD-FLIGHT-"}}
  </code>
</pre>

</p>
<p>
<code>
  // => {{ voca-camel-case "-BIRD-FLIGHT-"}}
</code>
</p>

