<h3>voca-is-alpha-digit:</h3>
<p>Checks whether subject contains only alpha and digit characters</p>
<p>
<code>
  \{{ voca-is-alpha-digit "year2020"}}
</code>
</p>
<p>
<code>
  // => {{ voca-is-alpha-digit "year2020"}}
</code>
</p>
<p>
<code>
  \{{ voca-is-alpha-digit "1448"}}
</code>
</p>
<p>
<code>
  // => {{ voca-is-alpha-digit "1448"}}
</code>
</p>
<p>
<code>
  \{{ voca-is-alpha-digit "40-20"}}
</code>
</p>
<p>
<code>
  // => {{ voca-is-alpha-digit "40-20"}}
</code>
</p>
