
  <h3>voca-kebab-case:</h3>
  <p>Converts the subject to <a href="https://en.wikipedia.org/wiki/Letter_case#cite_ref-13">kebab case</a>, also called spinal case or lisp case.</p>
  <p>
  <code>
  \{{ voca-kebab-case "goodbye blue sky"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-kebab-case "goodbye blue sky"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-kebab-case "GoodbyeBlueSky"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-kebab-case "GoodbyeBlueSky"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-kebab-case "-Goodbye-Blue-Sky-"}}
  </code>
  </p>
  <p>
  <code>
    // => {{ voca-kebab-case "-Goodbye-Blue-Sky-"}}
  </code>
  </p>
