<h3>voca-pad-left:</h3>
<p>Pads subject from left to a new length</p>
<p>
<code>
  \{{ voca-pad-left "dog" 5}}
</code>
</p>
<p>
<code>
  // => '{{ voca-pad-left "dog" 5}}'
</code>
</p>
<p>
<code>
  \{{ voca-pad-left "bird" 6 "-"}}
</code>
</p>
<p>
<code>
  // => {{ voca-pad-left "bird" 6 "-"}}
</code>
</p>
<p>
<code>
  \{{ voca-pad-left "cat" 6 "-="}}
</code>
</p>
<p>
<code>
  // => {{ voca-pad-left "cat" 6 "-="}}
</code>
</p>
