<h3>voca-ends-with:</h3>
<p>Checks whether subject ends with end.</p>
<p>
<code>
  \{{ voca-ends-with "red alert" "alert"}}
</code>
</p>
<p>
<code>
  // => {{ voca-ends-with "red alert" "alert"}}
</code>
</p>
<p>
<code>
  \{{ voca-ends-with "metro south" "metro"}}
</code>
</p>
<p>
<code>
  // => {{ voca-ends-with "metro south" "metro"}}
</code>
</p>
<p>
<code>
  \{{ voca-ends-with "Murphy" "ph" 5}}
</code>
</p>
<p>
<code>
  // => {{ voca-ends-with "Murphy" "ph" 5}}
</code>
</p>
