<h3>voca-is-alpha:</h3>
<p>Checks whether the parameter contains only alpha characters.</p>
<p>
<code>
  \{{ voca-is-alpha "bart"}}
</code>
</p>
<p>
<code>
  // => {{ voca-is-alpha "bart"}}
</code>
</p>
<p>
<code>
  \{{ voca-is-alpha "lisa!"}}
</code>
</p>
<p>
<code>
  // => {{ voca-is-alpha "lisa!"}}
</code>
</p>
<p>
<code>
  \{{ voca-is-alpha "lisa and bart"}}
</code>
</p>
<p>
<code>
  // => {{ voca-is-alpha "lisa and bart"}}
</code>
</p>
