  <h3>voca-last:</h3>
  <p>Extract the last `length` characters from the argument.</p>
 <p>
  <code>
  \{{ voca-last "helicopter"}}
  </code>
  </p>

  
  <p>
  <code>
  // => {{ voca-last "helicopter"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-last "vehicle" 2}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-last "vehicle" 2}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-last "car" 5}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-last "car" 5}}
  </code>
  </p>
