
  <h3>voca-snake-case:</h3>
  <p>Converts the argument to snake-case</p>

  <p>
  <code>
  \{{ voca-snake-case "learning to fly"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-snake-case "learning to fly"}}
  </code>
  </p>


  <p>
  <code>
  \{{ voca-snake-case "LearningToFly"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-snake-case "LearningToFly"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-snake-case "-Learning-To-Fly"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-snake-case "-Learning-To-Fly"}}
  </code>
  </p>
