  <h3>voca-first:</h3>
  <p>Extracts the first `length` characters from the argument.</p>
  <p>
  <code>
  \{{ voca-first "helicopter"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-first "helicopter"}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-first "vehicle" 2}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-first "vehicle" 2}}
  </code>
  </p>
  <p>
  <code>
  \{{ voca-first "car" 5}}
  </code>
  </p>
  <p>
  <code>
  // => {{ voca-first "car" 5}}
  </code>
  </p>
